{
  "presets": [
    [
      "env", {
        "modules": false,
        "useBuiltIns": true,
        "loose": true,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
